.welcome{
    display: flex;
    width: auto;
    margin: 10px ;
    height: 60px;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}   
.button-logout{
    background-color: #021f3e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;   
}
.card {

    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  }

  .dark {
    background-color: #333333;
    color: #ffffff;
  }